.superhero {
    color: rgb(194, 34, 34);
    border: 0.2em solid white;
    background-color: darkblue;
    border-radius: 0.5em;
    text-shadow: -0.05em 0 white, 0 0.05em white, 0.05em 0 white, 0 -0.05em white;
    font-family: champion;
    padding: 1rem 2rem;
    background-image: url("../../assets/spiderweb_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;

    article {
        background-color: darkblue;
        font-family: monospace;
        border-radius: 5px;
        color: white;
        text-shadow: none;
        padding: 1em;
        border: 1px solid white;
        margin-top: 0.5em;

        a {
            padding-left: 0.5em;
            color: inherit;
        }

        h3 {
            font-size: 1.1em;
            padding-bottom: 0.15em;
        }

        ul {
            padding-top: 0.5em;
            padding-bottom: 2em;
        }

        p,
        li {
            font-size: 0.9em;
        }
    }

    .name-super {
        display: flex;
        font-size: 1.2em;
        padding-left: 1em;

        .job-title-super {
            border: none;
        }
    }

    .superhero-content {
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
        margin-top: 1em;

        .profile-summary {
            display: flex;
            border: 3px solid white;
            border-radius: 5px;

            .profile-pix {

                #profile-pic,
                #coder-profile-pic {
                    display: none;
                }

                #comic-profile-pic {
                    width: 8.5em;
                    height: auto;
                    border: 2px solid white;
                    border-radius: 5px;
                    padding: 0.3em;
                }
            }

            .res-summary {
                font-size: 0.8em;
                border-radius: 5px;
            }
        }
    }
}

@font-face {
    font-family: "spyagency";
    src: url(../../assets/spyagency.ttf);
}