/* PROFESSIONAL THEME STYLING */

.professional {
  color: rgb(62, 92, 126);
  background-color: ivory;
  border: 0.2em solid rgb(62, 92, 126);

  /* header styling for this theme */

  header {
    padding: 2em;
    padding-bottom: 0em;
    border-bottom: none;

    #profile-pic,
    #comic-profile-pic,
    #coder-profile-pic {
      display: none;
    }

    .text-content {
      .my-title {
        display: block;
        align-items: baseline;

        .name {
          font-size: 1.5em;
          flex-grow: 1;

          #name-super {
            display: none;
          }
        }
      }

      .my-links-icons {
        display: flex;
        align-items: end;

        a {
          font-size: 1.4em;
          color: inherit;
          text-decoration: none;
          padding-right: 0.2em;
        }

        .fa {
          padding: 0em .2em;
        }

        a:hover {
          color: gold;
        }
      }
      .my-links-text {
        display: none;
      }
    }
  }

  /* professional theme main content */

  .resume-content {
    h2 {
      border-bottom: 0.1em solid rgb(47, 66, 87);
    }

    .res-summary {
      h2 {
        font-size: 1.2em;
        border-bottom: none;
        padding-bottom: .5em;
      }
    }

    .res-skills .special {
      display: none;
    }

    article {
      background-color: ivory;

        a {
          padding-left: .5em;
          color: inherit;
        }
      
    }
  }
}

/* responsive behavior */

@media screen and (max-width: 600px) {
  .professional {
    font-size: .8em;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: block;
    font-size: .8em;
    text-align: left;

    .text-content {
      .career {
        justify-content: center;
      }
    }
  }
}