.mainframe {
  color: black;
  background-color: rgb(12, 33, 33);
  font-family: spyagency;
  font-size: .8rem;
  text-shadow: -0.05em 0 greenyellow, 0 0.05em greenyellow, 0.05em 0 greenyellow,
    0 -0.05em greenyellow;
  border: 0.2em solid white;
  border-radius: .5em;
  font-size: 1em;

  .header {
    border-bottom: 0.1em solid white;
    display: block;

    #coder-profile-pic {
      width: 5em;
      height: max-content;
      border: .1em solid greenyellow;
      border-radius: .5em;
    }

    #profile-pic,
    #comic-profile-pic {
      width: 0em;
      height: 0em;
    }

    #name {
      h1 {
        font-size: 4em;
      }
    }

    #subscript {
      font-family: monospace;
      color: greenyellow;
      text-shadow: none;
    }
  }

  section {
    h2 {
      font-size: 1.2em;
    }

    article {
      background-color: black;
      font-family: monospace;
      color:greenyellow;
      text-shadow: none;

      h3 {
        font-size: 1.5em;
      }

      ul {
        padding-bottom: 2em;
      }

      p,
      li {
        font-size: 1.25em;
      }
    }
  }
}

@font-face {
  font-family: "spyagency";
  src: url(../../assets/spyagency.ttf);
}