.mainframe {
  background-color: black;
  font-family: monospace;
  font-size: .8rem;
  border: 0.2em solid greenyellow;
  border-radius: .5em;
  font-size: 1em;

  .header {
    padding: 2em 2em 0em 2em;
    display: flex;

    #coder-profile-pic {
      width: 8em;
      height: max-content;
    }

    #profile-pic,
    #comic-profile-pic {
      display: none;
    }

    .text-content {
      padding-left: 1em;

      .my-title {
        font-family: spyagency;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white,
          0 -1px white;

        .name {
          font-size: 1.8em;
        }

        .job-title {
          font-size: 1.5em;
          padding: 2px;
        }
      }

      .contact-links {
        font-family: monospace;
        color: greenyellow;
        text-shadow: none;
        padding: 1em;

        .contact-info {
          font-size: 1.5em;
        }

        .my-links-text {
          font-size: 1.2em;
          padding: 1em 0em;
          display: flex;

          a {
            font-size: 1.4em;
            color: inherit;
            padding-right: 0.6em;
          }

          a:hover {
            color: white;
          }
        }
      }
    }
  }

  .mainframe-resume {
    padding: 2em;

    .res-summary {
      font-family: monospace;
      color: rgb(255, 89, 0);
      text-shadow: none;
      border-top: 2px dotted white;
      border-bottom: 2px dotted white;
      padding: 1em 0em;
      margin-bottom: 3em;
    }

    .res-skills {
      padding-bottom: 1em;
    }

    section {
      padding-left: 1em;

      h2 {
        font-family: spyagency;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white,
          0 -1px white;
        font-size: 1.5em;
        padding-bottom: .5em;
      }

      article {
        background-color: black;
        font-family: monospace;
        color: greenyellow;
        text-shadow: none;
        padding-bottom: 1em;

        h3 {
          color: rgb(255, 89, 0);
          font-size: 1.6em;
          padding-bottom: .5em;

          a {
            color: rgb(255, 89, 0);
            padding-left: 1em;
          }
        }

        p {
          padding-left: 1em;
          font-size: 1.25em;
        }
      }
    }
  }
}

@font-face {
  font-family: "spyagency";
  src: url(../../assets/spyagency.ttf);
}

@media screen and (max-width: 1024px) {
  .mainframe {
    font-size: .8em;
    padding: 1em;
  }
}

@media screen and (max-width: 820px) {
  .mainframe {
    padding: .8em;

    .header .my-title {
      font-size: .7em;
    }
  }
}

@media screen and (max-width: 520px) {
  .mainframe {
    padding: .5em;

    .header {
      .my-title {
        font-size: .6em;
      }

      .contact-links {
        font-size: .8em;
      }
    }

    .mainframe-resume .res-summary {
      font-size: .8em;
    }
  }
}

@media screen and (max-width: 450px) {
  .mainframe {
    padding: .3em;

    .header {
      .my-title {
        font-size: .35em;
      }

      .mainframe-resume {
        h3 {
          font-size: .7em;
        }
      }
    }
  }
}