.nav-site-tour {
  width: 100%;
  font-size: 0.8em;
  text-shadow: none;

  i {
    display: block;
    float: left;
    font-size: 2em;
    text-align: center;
    margin: 0em 0.3em 0.6em 0.3em;
    padding: 0.2em;
    text-decoration: none;
  }

  /* navbar buttons */

  .btn-tour-home {
    .fa-street-view {
      color: white;
    }

    .fa-street-view:hover {
      background-color: white;
      color: rgb(0, 0, 105);
      border-radius: 1em;
    }
  }

  .btn-themes {
    .fa-wand-magic-sparkles {
      color: rgb(255, 255, 129);
    }

    .fa-wand-magic-sparkles:hover {
      background-color: rgb(255, 255, 129);
      color: rgb(0, 0, 105);
      border-radius: 1em;
    }
  }

  .btn-dynamics {
    .fa-star {
      color: rgb(107, 218, 255);
    }

    .fa-star:hover {
      background-color: rgb(107, 218, 255);
      color: rgb(0, 0, 105);
      border-radius: 1em;
    }
  }

  .btn-customization {
    .fa-sliders {
      color: lightgreen;
    }

    .fa-sliders:hover {
      background-color: lightgreen;
      color: rgb(0, 0, 105);
      border-radius: 1em;
    }
  }

  .btn-settings {
    .fa-gear {
      color: pink;
    }

    .fa-gear:hover {
      background-color: pink;
      color: rgb(0, 0, 105);
      border-radius: 1em;
    }
  }
}

.nav-site-tour::after {
  display: block;
  clear: both;
  content: "";
}
