.site-tour {
    padding-top: 1em;

    i {
        font-size: 2em;
        color: white;
        text-align: center;
        padding: .5em;
        text-decoration: none;

        span {
            font-family: 'open-sans';
            margin-left: .6em;
        }
    }

    .fa-route {
        color: rgb(0, 0, 105);
        text-shadow: -0.05em 0 white, 0 0.05em white, 0.05em 0 white,
            0 -0.05em white;

    }

    .site-tour-content {

        .nav-site-tour {
            display: flex;
            padding-left: 1em;
            padding-bottom: 1em;
            font-size: .8em;
            text-shadow: none;
        }

        article {
            font-size: .8em;

            i {
                font-size: 6.5em;
            } 

            h2 {
                margin: .8em;
            }
        }

        .fa-street-view {
            color: ivory;
        }

        .fa-street-view:hover {
            background-color: ivory;
            color: rgb(0, 0, 105);
            border-radius: 1em;
        }

        .slide-tour-guide {
            border: .2em solid ivory;
            display: flex;

        }

        .fa-wand-magic-sparkles {
            color: lightgreen;
        }

        .fa-wand-magic-sparkles:hover {
            background-color: lightgreen;
            color: rgb(0, 0, 105);
            border-radius: 1em;
        }

        .slide-themes {
            display: flex;
            color: lightgreen;
            border: .2em solid lightgreen;
        }

        .fa-gear {
            color: darkorange;
        }

        .fa-gear:hover {
            background-color: darkorange;
            color: rgb(0, 0, 105);
            border-radius: 1em;
        }

        .slide-settings {
            display: flex;
            color: darkorange;
            border: .2em solid darkorange;
        }

        .fa-sliders {
            color: gold;
        }

        .fa-sliders:hover {
            background-color: gold;
            color: rgb(0, 0, 105);
            border-radius: 1em;
        }

        .slide-customization {
            display: flex;
            color: gold;
            border: .2em solid gold;
        }

    }
    }