.classic {
  color:  rgb(62, 92, 126);
  background-color: ivory;
  border: 0.2em solid black;

  h2 {
    border-bottom: 0.1em solid rgb(47, 66, 87);
  }
  header {
    padding-bottom: 1em;
    border-bottom: none;
  }
  article {
    background-color: ivory;
  }
}
