.superhero {
    color: rgb(194, 34, 34);
    border: 0.2em solid white;
    background-color: darkblue;
    border-radius: .5em;
    text-shadow: -0.05em 0 white, 0 0.05em white, 0.05em 0 white,
        0 -0.05em white;
    font-family: champion;

    header {
        border-bottom: 0.1em solid white;

        #profile-pic,
        #coder-profile-pic {
            width: 0em;
            height: 0em;
        }

        #comic-profile-pic {
            width: 7em;
            height: 7em;
            border: .1em solid rgb(194, 34, 34);
            border-radius: .5em;
        }

        #name {

            h1 {
                font-size: 4.5em;
            }

            h2 {
                font-size: 2em;
                text-align: right;
                border: none;
            }
        }

        #subscript {
            font-family: monospace;
            font-size: 1.15em;
            color: white;
            text-shadow: none;
        }
    }

    #superhero-content {
        background-image: url("../../assets/spiderweb_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #1d4483;
        padding: 1rem 2rem;
    }

    section {
        margin-top: 0.75em;
        font-size: 1.4em;

        h2 {
            font-size: 1.5em;
        }

        article {
            background-color: rgba(0, 16, 139, 0.754);
            font-family: monospace;
            border-radius: .5em;
            color: white;
            text-shadow: none;
            padding: 1em;
            border: 0.1em solid white;
            margin-top: 0.5em;

            h3 {
                font-size: 1.1em;
                padding-bottom: 0.15em;

            }

            ul {
                padding-top: 0.5em;
                padding-bottom: 2em;
            }

            p,
            li {
                font-size: .9em;
            }
        }
    }
}

@font-face {
    font-family: "spyagency";
    src: url(../../assets/spyagency.ttf);
}