* {
  margin: 0;
}

#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
}

body {
  font-family: open-sans, sans-serif;
  background-color: black;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: sticky;
  display: flex;
  background-color: black;

  a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 16px;
    padding: 14px 16px;
    /* border: 2px solid var(--header-color); */
    /* text-shadow: var(--text-outline-dark); */
  }

  .navlink {
    /* color: rgb(147, 147, 147); */
    padding-left: 5px;
  }

  .active {
    color: white;
  }

  :hover {
    background-color: rgb(179, 179, 179);
    color: black;
  }

  .active:hover {
    color: rgb(142, 212, 35);
    /* text-shadow: var(--text-outline-dark); */
  }
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
  padding-bottom: 0.15em;
}

ul {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

header {
  padding: 2rem;

  #name {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;

    h2 {
      text-align: right;
      border: none;
    }
  }

  #subscript {
    margin-top: 0.25em;
    font-size: 1.2em;
  }
}

#main-content {
  padding: 1rem 2rem;
}
section {
  margin-top: 0.75em;

  article {
    background-color: #1d4483;
    padding: 1em;
    border: 0.1em solid white;
    margin-top: 0.5em;
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
