.home {
  color: white;
  background-color: #275db3;
  border: 0.2em solid white;

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
    padding-bottom: 0.5em;
  }

  ul {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  header {
    padding: 2rem;
    border-bottom: 0.1em solid white;

    #name {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;

      h2 {
        text-align: right;
      }
    }

    #subscript {
      margin-top: 0.25em;
      font-size: 1.2em;
    }
  }

  #main-content {
    padding: 1rem 2rem;
  }

  section {
    margin-top: 0.75em;

    article {
      background-color: #1d4483;
      padding: 1em;
      border: 0.1em solid white;
      margin-top: 0.5em;
    }
  }
}