.home {
  color: white;
  background-color: #275db3;
  border: 0.2em solid white;

  header {
    border-bottom: 0.1em solid white;
  }
  #main-content {
    padding: 1rem 2rem;
    
    article {
      background-color: #1d4483;
      font-family: spyagency;
    }
  }
}

@font-face {
  font-family: spyagency;
  src: url(../../assets/spyagency.ttf);
}
