.navbar {
    overflow: hidden;
    background-color: rgb(55, 55, 55);

    a {
        float: left;
        font-size: 1em;
        color: ivory;
        text-align: center;
        padding: .5em;
        margin: 0.6em;
        text-decoration: none;
    }

    a:hover,
    .dropdown:hover .dropbtn {
        background-color: black;
        border: .1em solid darkorange;
        margin: .5em .5em 0 .5em;
    }

    a:hover {
        border-radius: .2em;
    }

    .dropdown:hover .dropbtn {
        border-bottom: none;
        border-top-left-radius: .2em;
        border-top-right-radius: .2em;
    }

    .dropdown {
        float: left;
        overflow: hidden;

        .dropbtn {
            font-size: 1em;
            border: none;
            outline: none;
            color: ivory;
            background-color: inherit;
            padding: .5em;
            margin: 0.6em;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #000000e6;
            border: 0.1em solid darkorange;
            border-radius: 0.2em;
            min-width: 10em;
            box-shadow: 0em .5em 1em 0em rgba(0, 0, 0, 0.2);
            z-index: 1;

            a {
                float: none;
                color: ivory;
                margin: 1em;
                border: 0.1em solid rgba(0, 0, 0, 0);
                text-decoration: none;
                display: block;
                text-align: left;
            }

            a:nth-child(1) {
                font-family: Arial, Helvetica, sans-serif;
            }

            a:nth-child(2) {
                font-family: 'spyagency';
            }

            a:nth-child(3) {
                font-family: 'champion';
            }

            a:hover {
                background-color: none;
                margin: 1em;
                border: 0.1em solid ivory;
            }
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}